# Dependencies
node_modules/
.pnp
.pnp.js

# Vercel
.vercel

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS
.DS_Store
Thumbs.db
*.metadata.json
.vscode/
.idea/
